.card{
    display: flex;
    flex-direction: column;
    outline: red solid 5px;
    font-size: .5rem;
    box-sizing: border-box;
    align-items: center;
    justify-content: center;
    padding:5px;


}
.price-text{
    font-size: 1.5rem;
    font-weight: bold;

}
.product-image-container
{
width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    box-sizing: border-box;

}

.card-info-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.product-image{
 width: 200px;
    height: 200px;
}