#products{
    outline: solid 5px red;
    width: 50%;
    align-self: center;
}

#products img{
    width: 100px;
    height: 100px;
}
#products th{
    text-align: left;
    padding: 10px;
}
#products td {
    padding: 5px; /* Adjust this value to bring cells closer or further apart */
}

.productDetails{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
}